.App {
  text-align: center;
  .Wrapper{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .Card{
    margin: 20px;
    padding: 20px;
    width: 50%;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 3px #ccc;
  }
  .ButtonGroup{
    display: flex;
    justify-content: center;
    width: 40%;
    button{
      padding: 10px;
      margin: 0 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      box-shadow: 0 2px 3px #ccc;
      cursor: pointer;
      &:hover{
        background-color: #ccc;
      }
    }
  }
}
}
